.card {
    width: 80%;
    margin: 2rem auto;
}

.material-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.material-full-width {
  width: 100%;
}

.mat-card {
  background: #5597ab8c;
  color: #fff;
}

.mat-flat-button.mat-primary, 
.mat-raised-button.mat-primary, 
.mat-fab.mat-primary, 
.mat-mini-fab.mat-primary {
    color: #fff;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mat-flat-button.mat-warn, 
.mat-raised-button.mat-warn, 
.mat-fab.mat-warn, 
.mat-mini-fab.mat-warn {
    background-color: #f44336;
    margin: 8px 0;
    margin-left: 1rem;
  }

input:invalid {
  border: 1px dashed red;
}

input:valid {
  border: 2px solid #1fbae98c;
}

mat-card:last-child {
  margin-bottom: 2rem;
}

.user-list {
  ul{
    list-style: none;
  }
  .btns {
    display: flex;
    flex-direction: row;
  }
}
.color-selectors {
  display: flex;
  flex-direction:column;
  width: 500px;
  .color-picker,
  .color-picker2 {
    
    height: 34px;
    width: 150px;
    font-size: 14px;
    line-height: 2px;
    padding-left: 7px;
    -webkit-transition: border-color 0.3s ease;
    -moz-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
  }
  

}





